<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.petservice.mapper.PetHealthMapper">

    <select id="getHealth" resultType="com.example.petpojo.vo.HealthVo">
        SELECT
        p.pid AS petId,
        p.name AS petName,
        sp.name AS species,
        b.name AS breed,
        h.health_id AS healthId,
        h.health_type AS healthType,
        h.description,
        h.check_date AS checkDate,
        h.reminder_time AS reminderTime,
        h.status AS healthStatus
        FROM `pet_health` h
        JOIN pets p ON h.pid = p.pid
        LEFT JOIN species sp ON p.species_id = sp.id
        LEFT JOIN breed b ON p.breed_id = b.id
        JOIN adoptions a ON h.pid = a.pid
        <where>
            <if test="userId != null">
                a.uid = #{userId}
            </if>
        </where>
    </select>

</mapper>
